<a href="https://colab.research.google.com/github/BrenoLD94/CodeArticlesMedium/blob/main/CodigoMedium.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# biblioteca para manipulação de dados
import pandas as pd

# biblioteca para computação numérica
import numpy as np

# biblioteca para carregar os dados do dataset
from sklearn.datasets import load_boston

# biblioteca para separar os dados em treino e teste
from sklearn.model_selection import train_test_split

# biblioteca para usar o modelo Support Vector Regression
from sklearn.svm import SVR

# biblioteca para calcular uma métrica do modelo
from sklearn.metrics import r2_score

In [ ]:
# carregando o dataset "Boston house prices"
data = load_boston()
dataset = pd.DataFrame(data['data'], columns=data['feature_names'])
dataset['target'] = data['target']

# visualizando os primeiros valores
dataset.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  target
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98    24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14    21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03    34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94    33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33    36.2

[5 rows x 14 columns]

Vamos colocar algumas colunas em uma escala diferente de valores, a fim de visualizar melhor o impacto da normalização

In [ ]:
colunas = dataset.columns

In [ ]:
# Padronizando os dados
from sklearn.preprocessing import StandardScaler
scaler_standard = StandardScaler() 
dataset_padronizado = pd.DataFrame(scaler_standard.fit_transform(dataset), columns=colunas)
dataset_padronizado.head()

       CRIM        ZN     INDUS  ...         B     LSTAT    target
0 -0.419782  0.284830 -1.287909  ...  0.441052 -1.075562  0.159686
1 -0.417339 -0.487722 -0.593381  ...  0.441052 -0.492439 -0.101524
2 -0.417342 -0.487722 -0.593381  ...  0.396427 -1.208727  1.324247
3 -0.416750 -0.487722 -1.306878  ...  0.416163 -1.361517  1.182758
4 -0.412482 -0.487722 -1.306878  ...  0.441052 -1.026501  1.487503

[5 rows x 14 columns]

In [ ]:
# normalizando os dados
from sklearn.preprocessing import MinMaxScaler
scaler_minMax = MinMaxScaler() 
data_normalize = pd.DataFrame(scaler_minMax.fit_transform(dataset), columns=colunas)
data_normalize.head()

       CRIM    ZN     INDUS  CHAS  ...   PTRATIO         B     LSTAT    target
0  0.000000  0.18  0.067815   0.0  ...  0.287234  1.000000  0.089680  0.422222
1  0.000236  0.00  0.242302   0.0  ...  0.553191  1.000000  0.204470  0.368889
2  0.000236  0.00  0.242302   0.0  ...  0.553191  0.989737  0.063466  0.660000
3  0.000293  0.00  0.063050   0.0  ...  0.648936  0.994276  0.033389  0.631111
4  0.000705  0.00  0.063050   0.0  ...  0.648936  1.000000  0.099338  0.693333

[5 rows x 14 columns]

In [ ]:
def ML_step(data):
  dataset_num_columns = data.shape[1]
  x = data.iloc[:, 0:dataset_num_columns-1]
  y = data['target']

  # separando em dados de treino e teste 
  X_train, X_test, y_train, y_test = train_test_split(x, 
                                                      y, 
                                                      test_size=0.30, 
                                                      random_state=12)
  
  # instanciando o modelo Support Vector Regression
  model = SVR()

  # treinando o modelo
  model.fit(X_train, y_train)

  # prevendo os valores
  y_predict = model.predict(X_test)

  # avaliando o modelo (quanto mais próximo de 1 melhor)
  print("r^2:", r2_score(y_test, y_predict))

In [ ]:
print("Dataset não padronizado")
ML_step(dataset)

Dataset não padronizado
r^2: 0.1604256843627555

In [ ]:
print("Dataset padronizado")
ML_step(dataset_padronizado)

Dataset padronizado
r^2: 0.8566091790160586

In [ ]:
print("Dataset normalizado")
ML_step(data_normalize)

Dataset normalizado
r^2: 0.8355270748255403